/* 
		Project: Setting Menu
    Created: Thursday, 10 February 2022
    Author: Jamshid Elmi 
    Tutorial: https://youtu.be/DzZbbXaLWeE
*/
:root {
  --c-text-primary: #191919;
  --c-text-secondary: #737374;
  --c-border-primary: #ccc;
  --c-bg-body: #ccc;
  --c-bg-primary: #fff;
  --c-bg-secondary: #d4d8dd;
  --c-bg-button: #fff;
}
:root.dark-theme {
  --c-text-primary: #eee;
  --c-text-secondary: #d3d5db;
  --c-border-primary: #454545;
  --c-bg-body: #5e5e5e;
  --c-bg-primary: #323339;
  --c-bg-secondary: #222128;
  --c-bg-button: #494a50;
}
:root.black-theme {
  --c-text-primary: #edeeef;
  --c-text-secondary: #d4d7e1;
  --c-border-primary: #323232;
  --c-bg-body: #000;
  --c-bg-primary: #1b1d23;
  --c-bg-secondary: #000001;
  --c-bg-button: #343844;
}

body {
  display: flex;
  font-family: sans-serif;
  line-height: 1.5;
  justify-content: center;
  background-color: var(--c-bg-body);
  transform: background-color 1s ease;
  color: var(--c-text-primary);
}

.menu {
  width: 90%;
  margin-top: 80px;
  max-width: 320px;
  background-color: var(--c-bg-primary);
  transition: background-color .30s ease;
  border-radius: 15px;
}

/* header */
.menu-header {
  padding: 1rem;
}

.menu-heaser-title {
  font-size: 1.2rem;
  color: var(--c-text-secondary);
  font-weight: 700;
}

/* theme switcher */
.theme-switcher input {
  display: none;
}

.theme-switcher {
  position: relative;
  background-color: var(--c-bg-secondary);
  border-radius: 10px;
  display: flex;
  padding: 0 3px;
}

.theme-switcher label {
  position: relative;
  z-index: 2;
  width: calc(100% / 3);
  color: var(--c-text-secondary);
}

.theme-switcher label span {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  font-weight: 600;
  opacity: 0.8;
}

.theme-switcher label span:hover {
  opacity: 1;
  cursor: pointer;
}

.theme-switcher .slider {
  position: absolute;
  z-index: 1;
  width: calc((100% - 6px) / 3);
  top: 3px;
  transform: translatex(-110%);
  bottom: 3px;
  border-radius: 8px;
  transition: .30s ease, transform 0.25s ease-out;
  background-color: var(--c-bg-button);
}

.theme-switcher input:nth-of-type(1):checked ~ .slider {
  transform: translateX(0);
}
.theme-switcher input:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.theme-switcher input:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}

/* Menu body */
.menu-body {
  padding: 1rem;
  border-top: 1px solid var(--c-border-primary);
  transition: border-color .30s ease;
}

.menu-body a {
  text-decoration: none;
  color: inherit;
  display: flex;
  padding: 0.6rem 0.5rem;
  border-radius: 4px;
  font-weight: 500;
  transition: .30s ease;
}
 
.menu-body a:hover {
  background-color: var(--c-bg-secondary);
}

ion-icon {
  margin-right: 5px;
  font-size: 20px;
  margin-top: 2px;
}